<!DOCTYPE html>
<html lang="en">


<!--  
  -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="shortcut icon" href="/library/img/logo.jpeg" />
    <title>Criptter Investment</title>
    <!-- Bootstrap core CSS -->
    <link href="/library/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Google Font  -->
     <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i|Roboto:400,400i,500,500i,700,700i" rel="stylesheet"> 
    <!-- icofont icon -->
    <link rel="stylesheet" href="/library/css/icofont.css">	
    <!-- font awesome icon -->
    <link rel="stylesheet" href="/library/css/fontawesome-all.min.css">	
    <!-- animate CSS -->
    <link rel="stylesheet" href="/library/css/animate.css">
	<!--- meanmenu Css-->
    <link rel="stylesheet" href="/library/css/meanmenu.min.css" media="all" />	
    <!--- owl carousel Css-->
    <link rel="stylesheet" href="/library/owlcarousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/library/owlcarousel/css/owl.theme.default.min.css">
    <!-- venobox -->
    <link rel="stylesheet" href="/library/venobox/css/venobox.css" />	
    <!-- Style CSS --> 
    <link rel="stylesheet" href="/library/css/style.css">
    <!-- Responsive  CSS -->
    <link rel="stylesheet" href="/library/css/responsive.css">
    <!-- Animate on Scroll -->
    <link rel="stylesheet" href="/library/css/aos.css">

    <!-- Custom styles -->
    <link rel="stylesheet" href="/library/css/custom.css">
</head>