 <!-- Footer -->
 <footer class="footer pt-0" id="footer">
    <div class="row align-items-center justify-content-center">
        <div class="copyright text-center  text-lg-left  text-muted">
          &copy; 2020 <a href="http://localhost:7070" class="font-weight-bold ml-1" target="_blank">Bitufy</a>
        </div>
    </div>
  </footer>
</div>
</div>
<!-- Argon Scripts -->
<!-- Core -->
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/library/vendor/jquery/dist/jquery.min.js"></script>
<script src="/library/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/library/vendor/js-cookie/js.cookie.js"></script>
<script src="/library/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
<script src="/library/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
<!-- Optional JS -->
<script src="/library/vendor/chart.js/dist/Chart.min.js"></script>
<script src="/library/vendor/chart.js/dist/Chart.extension.js"></script>
<!-- Argon JS -->
<script src="/library/js/argon.js"></script>
<script src="/library/js/dash.js"></script>
<!-- <script src="/library/js/dashboard.js" defer></script> -->
</body>

</html>