<div class="progressbar">
    <h3 class="progress-title"><%= title %> - <%= progress %></h3>
    <div class="progress purple">
        <div class="progress-bar" style="width:50%; background:rgb(114, 20, 206);">
            <div class="progress-value"><%= progress %></div>
        </div>
    </div>
</div>