<%-    include("./partials/header")   %>

<body>
	
	<%-   include("./partials/nav")   %>
	
	<!-- START PAGE BANNER AND BREADCRUMBS -->
	<section id="page-banner">
		<div class="single-page-title-area overlay" data-background="/library/img/bg/slide1.jpg">
			<div class="auto-container">
				<div class="row">
					<div class="col-12 text-center">
						<div class="single-page-title">
							<h2>Bitfonix Experts</h2>
							<p>Lorem ipsum dolor sit amet</p>
						</div>
					</div>
				</div>
				<!-- end row-->
			</div>
		</div>
		<div class="single-page-title-area-bottom">
			<div class="auto-container">
				<div class="row">
					<div class="col-12 text-center">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active">Team</li>
						</ol>
					</div>
				</div>
				<!-- end row-->
			</div>
		</div>
	</section>
	<!-- END PAGE BANNER AND BREADCRUMBS -->
	
	<!-- START TEAM SECTION -->
    <section id="team" class="section-padding">
        <div class="container">	 
			<div class="row text-center">
				<div class="col-lg-3 col-md-3 col-12 mb-lg-5 mb-md-5 mb-5">
					<div class="single-team-wrapper">
						<div class="single-team">
							<div class="single-team-img">
								<img class="img-fluid" src="/library/img/team/1.png" alt="">
								<div class="single-team-social">
									<ul>
									   <li><a class="sicon1" href="#"><i class="icofont icofont-social-facebook"></i></a></li>
									   <li><a class="sicon2" href="#"><i class="icofont icofont-social-twitter"></i></a></li>
									   <li><a class="sicon3" href="#"><i class="icofont icofont-social-youtube-play"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="single-team-meta">
								<h4>Jone Doe</h4>
								<span>Hash Theme, CEO</span>
								<p>Lorem ipsum dolor sit amet consectetur ullamco adipiscing elit, sed do eiusmod tempor exercitat incididunt ut labore.</p>
							</div>	
						</div>							
					</div>	
				</div>
				<!-- end col -->
				<div class="col-lg-3 col-md-3 col-12 mb-lg-5 mb-md-5 mb-5">
					<div class="single-team-wrapper">
						<div class="single-team">
							<div class="single-team-img">
								<img class="img-fluid" src="/library/img/team/2.png" alt="">
								<div class="single-team-social">
									<ul>
									   <li><a class="sicon1" href="#"><i class="icofont icofont-social-facebook"></i></a></li>
									   <li><a class="sicon2" href="#"><i class="icofont icofont-social-twitter"></i></a></li>
									   <li><a class="sicon3" href="#"><i class="icofont icofont-social-youtube-play"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="single-team-meta">
								<h4>Mark Henry</h4>
								<span>Hash Theme, CEO</span>
								<p>Lorem ipsum dolor sit amet consectetur ullamco adipiscing elit, sed do eiusmod tempor exercitat incididunt ut labore.</p>
							</div>	
						</div>							
					</div>
				</div>
				<!-- end col -->
				<div class="col-lg-3 col-md-3 col-12 mb-lg-5 mb-md-5 mb-5">
					<div class="single-team-wrapper">
						<div class="single-team">
							<div class="single-team-img">
								<img class="img-fluid" src="/library/img/team/3.png" alt="">
								<div class="single-team-social">
									<ul>
									   <li><a class="sicon1" href="#"><i class="icofont icofont-social-facebook"></i></a></li>
									   <li><a class="sicon2" href="#"><i class="icofont icofont-social-twitter"></i></a></li>
									   <li><a class="sicon3" href="#"><i class="icofont icofont-social-youtube-play"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="single-team-meta">
								<h4>Bishen Ketty</h4>
								<span>Hash Theme, CEO</span>
								<p>Lorem ipsum dolor sit amet consectetur ullamco adipiscing elit, sed do eiusmod tempor exercitat incididunt ut labore.</p>
							</div>	
						</div>							
					</div>
				</div>
				<!-- end col -->
				<div class="col-lg-3 col-md-3 col-12 mb-lg-5 mb-md-5 mb-5">
					<div class="single-team-wrapper">
						<div class="single-team">
							<div class="single-team-img">
								<img class="img-fluid" src="/library/img/team/4.png" alt="">
								<div class="single-team-social">
									<ul>
									   <li><a class="sicon1" href="#"><i class="icofont icofont-social-facebook"></i></a></li>
									   <li><a class="sicon2" href="#"><i class="icofont icofont-social-twitter"></i></a></li>
									   <li><a class="sicon3" href="#"><i class="icofont icofont-social-youtube-play"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="single-team-meta">
								<h4>Kwasan Rowy</h4>
								<span>Hash Theme, CEO</span>
								<p>Lorem ipsum dolor sit amet consectetur ullamco adipiscing elit, sed do eiusmod tempor exercitat incididunt ut labore.</p>
							</div>	
						</div>							
					</div>
				</div>
				<!-- end col -->
				<div class="col-lg-3 col-md-3 col-12 mb-lg-0 mb-md-0 mb-5">
					<div class="single-team-wrapper">
						<div class="single-team">
							<div class="single-team-img">
								<img class="img-fluid" src="/library/img/team/5.png" alt="">
								<div class="single-team-social">
									<ul>
									   <li><a class="sicon1" href="#"><i class="icofont icofont-social-facebook"></i></a></li>
									   <li><a class="sicon2" href="#"><i class="icofont icofont-social-twitter"></i></a></li>
									   <li><a class="sicon3" href="#"><i class="icofont icofont-social-youtube-play"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="single-team-meta">
								<h4>Bishen Ketty</h4>
								<span>Hash Theme, CEO</span>
								<p>Lorem ipsum dolor sit amet consectetur ullamco adipiscing elit, sed do eiusmod tempor exercitat incididunt ut labore.</p>
							</div>	
						</div>							
					</div>
				</div>
				<!-- end col -->
				<div class="col-lg-3 col-md-3 col-12 mb-lg-0 mb-md-0 mb-5">
					<div class="single-team-wrapper">
						<div class="single-team">
							<div class="single-team-img">
								<img class="img-fluid" src="/library/img/team/1.png" alt="">
								<div class="single-team-social">
									<ul>
									   <li><a class="sicon1" href="#"><i class="icofont icofont-social-facebook"></i></a></li>
									   <li><a class="sicon2" href="#"><i class="icofont icofont-social-twitter"></i></a></li>
									   <li><a class="sicon3" href="#"><i class="icofont icofont-social-youtube-play"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="single-team-meta">
								<h4>Jone Doe</h4>
								<span>Hash Theme, CEO</span>
								<p>Lorem ipsum dolor sit amet consectetur ullamco adipiscing elit, sed do eiusmod tempor exercitat incididunt ut labore.</p>
							</div>	
						</div>							
					</div>	
				</div>
				<!-- end col -->
				<div class="col-lg-3 col-md-3 col-12 mb-lg-0 mb-md-0 mb-5">
					<div class="single-team-wrapper">
						<div class="single-team">
							<div class="single-team-img">
								<img class="img-fluid" src="/library/img/team/4.png" alt="">
								<div class="single-team-social">
									<ul>
									   <li><a class="sicon1" href="#"><i class="icofont icofont-social-facebook"></i></a></li>
									   <li><a class="sicon2" href="#"><i class="icofont icofont-social-twitter"></i></a></li>
									   <li><a class="sicon3" href="#"><i class="icofont icofont-social-youtube-play"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="single-team-meta">
								<h4>Kwasan Rowy</h4>
								<span>Hash Theme, CEO</span>
								<p>Lorem ipsum dolor sit amet consectetur ullamco adipiscing elit, sed do eiusmod tempor exercitat incididunt ut labore.</p>
							</div>	
						</div>							
					</div>
				</div>
				<!-- end col -->
				<div class="col-lg-3 col-md-3 col-12">
					<div class="single-team-wrapper">
						<div class="single-team">
							<div class="single-team-img">
								<img class="img-fluid" src="/library/img/team/2.png" alt="">
								<div class="single-team-social">
									<ul>
									   <li><a class="sicon1" href="#"><i class="icofont icofont-social-facebook"></i></a></li>
									   <li><a class="sicon2" href="#"><i class="icofont icofont-social-twitter"></i></a></li>
									   <li><a class="sicon3" href="#"><i class="icofont icofont-social-youtube-play"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="single-team-meta">
								<h4>Mark Henry</h4>
								<span>Hash Theme, CEO</span>
								<p>Lorem ipsum dolor sit amet consectetur ullamco adipiscing elit, sed do eiusmod tempor exercitat incididunt ut labore.</p>
							</div>	
						</div>							
					</div>
				</div>
				<!-- end col -->
			</div>
			<!-- end row -->
        </div>
        <!--- END CONTAINER -->
    </section>
    <!-- END TEAM SECTION -->
	
	<!-- START CALLTOACTION SECTION -->
	<section id="calltoaction" class="calltoaction-padding section-padding bg-theme">
		<div class="auto-container">
			<div class="row">
				<div class="col-lg-8 col-md-8 col-sm-12 col-12 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
					<div class="calltoaction-two-wrap">
						<h4>Need Team Service?</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do<br>incididunt ut labore et dolore magna aliqua.</p>
					</div>
				</div>
				<!-- end col -->
				<div class="col-lg-4 col-md-4 col-sm-12 col-12 mt-lg-4 mt-md-4 text-lg-right text-md-right text-sm-left text-left">
					<a href="#" class="btn-style btn-border btn-border-3">Contact Us</a>
				</div>
				<!-- end col -->
			</div>
			<!-- end row-->
		</div>
	</section>
    <!-- END CALLTOACTION SECTION -->
	
	<!-- START CLIENT SECTION -->
    <div id="client" class="client-section-padding bg-gray">
        <div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="client-slider owl-carousel owl-theme">
						<div class="single-client">
                            <a href="#"><img class="img-fluid" src="/library/img/clients/1.png" alt=""></a>
                        </div>
						<div class="single-client">
                            <a href="#"><img class="img-fluid" src="/library/img/clients/5.png" alt=""></a>
                        </div>
						<div class="single-client">
                            <a href="#"><img class="img-fluid" src="/library/img/clients/3.png" alt=""></a>
                        </div>
						<div class="single-client">
                            <a href="#"><img class="img-fluid" src="/library/img/clients/2.png" alt=""></a>
                        </div>
						<div class="single-client">
                            <a href="#"><img class="img-fluid" src="/library/img/clients/4.png" alt=""></a>
                        </div>
						<div class="single-client">
                            <a href="#"><img class="img-fluid" src="/library/img/clients/6.png" alt=""></a>
                        </div>
					</div>
				</div>
			</div>
        </div>
        <!--- END CONTAINER -->
    </div>
    <!-- END CLIENT SECTION -->
	
<%-   include("./partials/footer")   %>